

.header{
    height: 80px;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    inset: 0;
    background: var(--white-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}
.header .nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.sticky{
    position: sticky;
    transition: all 0.5 ease-in-out;
    animation: smooth 0.3s;
}

.header .row{
    align-items: center;
}
.header .nav-bar{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 60px;
    list-style: none;
    justify-content: flex-end;
}
.header .nav-bar a{
    color: #3d4152;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    gap: 5px;
}
.header .nav-bar li:nth-child(1) a svg,
.header .nav-bar li:nth-child(2) a svg {
    fill: #3d4152;
}

html{
    scroll-behavior: smooth;
}
.nav-cart{
    position: relative;
}
.nav-cart{
    display: flex;
    gap: 7px;
    align-items: center;
}
.nav-cart .nav-cart-count{
    color: #3d4152;
    font-size: 13px;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.nav-cart>div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart.active svg{
    stroke: #48c479;
    fill: #48c479;
}
.header .nav-bar a:hover{
    color: #fc8019;
    transition: all 0.2s ease-in-out;
}
.nav-cart.active .nav-cart-count,
.header .nav-bar a:hover .nav-cart-count{
    color: #fff !important;
}
.header .nav-bar a:hover svg{
    stroke: #fc8019 !important;
    fill: #fc8019 !important;
    transition: all 0.2s ease-in-out;
}
