

.header{
    height: 80px;
    box-shadow:0 15px 25px 0px rgb(40 44 63 / 5%);
    inset: 0;
    background: var(--white-color);
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    padding: 0 15px;
}
.header .nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.sticky{
    position: sticky;
    transition: all 0.5s ease-in-out;
}

.header .row{
    align-items: center;
}
.header .nav-bar{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 50px;
    list-style: none;
    justify-content: flex-end;
}
.header .nav-bar a{
    color: #3d4152;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    gap: 5px;
}
.header .nav-bar li:nth-child(1) a svg,
.header .nav-bar li:nth-child(2) a svg {
    fill: #3d4152;
}

html{
    scroll-behavior: smooth;
}
.nav-cart{
    position: relative;
}
.nav-cart{
    display: flex;
    gap: 7px;
    align-items: center;
}
.nav-cart .nav-cart-count{
    color: #3d4152;
    font-size: 13px;
    font-weight: 600;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.nav-cart>div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart.active svg{
    stroke: #48c479;
    fill: #48c479;
}
.header .nav-bar a:hover{
    color: #fc8019;
    transition: all 0.2s ease-in-out;
}
.nav-cart.active .nav-cart-count,
.header .nav-bar a:hover .nav-cart-count{
    color: #fff !important;
}
.header .nav-bar a:hover svg{
    stroke: #fc8019 !important;
    fill: #fc8019 !important;
    transition: all 0.2s ease-in-out;
}
.mobile-bottom-bar{
    display: none;
}

/* Responsive */

@media (max-width:767px){
    .header{
      height: 60px;
    }
    .header .nav-wrap .left-block svg{
      height: 40px;
    }
    .header .nav-bar{
      gap: 0;
    }
   .header .nav-bar .nav-search,
   .header .nav-bar .nav-cart,
   .header .nav-bar .nav-user{
     display: none;
   }
   .mobile-bottom-bar{
    display: block;
   }
   .mobile-bottom-bar{
    position: fixed;
    height: 56px;
    padding: 0 15px;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,.1);
    padding: 0 !important;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .mobile-bottom-bar li{
     padding: 0 25px;
   }
   .mobile-bottom-bar li a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      gap: 3px;
      outline: 0;
   }
   .mobile-bottom-bar li svg{
    font-size: 20px;
    height: 20px;
    color: #93959f;
    fill: #93959f ;
   }
   .mobile-bottom-bar li a:focus svg path{
     fill: #36393e ;
   }
   .mobile-bottom-bar li a:focus span{
    color: #36393e;
   }
   .mobile-bottom-bar li svg path{
    fill: #93959f ;
   }
   .mobile-bottom-bar li a span{
     color: #93959f;
     font-size: 10px;
     text-transform: uppercase;
     font-weight: 600;
   }
   .mobile-bottom-bar .nav-cart{
     gap: 0;
   }
   .mob-nav-cart>div{
    position: relative;
    line-height: 0;
   }
   .mob-nav-cart .nav-cart-count{
    position: absolute;
    top: -1px;
    right: -7px;
    background: #36393e;
    border-radius: 100%;
    color: #f4f4f5;
    font-size: 10px;
    text-align: center;
    height: 12px;
    width: 12px;
    padding: 2px 2px 1px;
    line-height: 11px;
   }
   .mobile-bottom-bar li a:focus .nav-cart-count{
      color: #fff !important;
   }
}

@media(max-width:359px){
    .mobile-bottom-bar li {
        padding: 0px 20px;
    }
}
