

.hotel-card-wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding-top: 50px;
}
.hotel-card-wrap .hotel-card{
    background: var(--white-color);
    border: 1px solid var(--grey-color);
    cursor: pointer;
    padding: 20px;
    position: relative;
    height: 345px;
    width: 285px;
}
.hotel-card-wrap a{
    text-decoration: none;
    color: inherit;
}
.hotel-card-wrap .hotel-card:hover{
    border: 1px solid var(--dark-grey-color);
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
    transition: all 0.3s ease-in-out;
}
.hotel-card-wrap .hotel-card .card-img{
    background: rgb(40 44 63 / 5%);
    width: 100%;
    height: 150px;
    position: relative;
}
.hotel-card-wrap .hotel-card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotel-card-wrap .hotel-card .title span:first-child{
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
    font-weight: 600;
    display: block;
}
.hotel-card-wrap .hotel-card .title span:last-child{
    font-size:11px;
    line-height: 16px;
    display: block;
    margin-top: 5px;
    min-height: 32px;
}
.hotel-card-wrap .hotel-card .rating{
    font-size:11px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3 ;
    padding-bottom: 10px;
}
.star-badge{
    height: 20px;
    width: 43px;
    line-height: 20px;
    padding: 0 5px;
    font-weight: 400;
    background-color: #48c479;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.star-badge.red-star{
    background-color: #db7c38;
} 
.hotel-card-wrap .hotel-card .hotel-promoted{
    position: absolute;
    left: 13px;
    background-color: var(--black-color);
    color: var(--white-color);
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding: 3px 8px;
}
.hotel-card-wrap .hotel-card .hotel-promoted::before{
    position: absolute;
    left: 1px;
    bottom: -9px;
    content: "";
    width: 8px;
    height: 11px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background-color: var(--black-color);
    transform: rotate(162deg);
}