
.hero-slider-wrap{
    background-color: #171a29;
    padding: 0px 15px;
    text-align: center;
}
.hero-slider-wrap .hero-slider{
    height: 344px;
    display: flex;
}
.hero-slider .single-slide{
    outline: 0;
}
.hero-slider .single-slide img{
    height:260px;
    width:100%;
    object-fit: contain;
    cursor: pointer;
    outline: 0;
    margin: auto;
}
.hero-slider .slick-slide{
    transition: all 0.5s ease-in-out;
}
.hero-slider .slick-slide:hover{
    transform: scale(1.05);
}
.slick-arrow{
    background-color: #fff !important;
    height: 47px !important;
    width: 47px !important ;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.slick-arrow::before{
    content: "" !important;
    background-size: contain;
    height: 20px;
    width: 20px;
    opacity: 1 !important;
}
.slick-arrow.slick-prev {
    left: -5px;
}
.slick-arrow.slick-prev::before{
    background-image: url(../../assets/icons/left-arrow.svg);
}
.slick-arrow.slick-next{
    right: -5px;
}
.slick-arrow.slick-next::before{
    background-image: url(../../assets/icons/right-arrow.svg);
}
.slick-arrow.slick-disabled{
   display: none !important;
}

/* Responsive */

@media (max-width:1279px){
    .hero-slider-wrap{
        display: none;
    }
}
